
:root {
    --bblack: #131313;
    --black: #242424;
    --white: #f0f0f0;
    --gray: #ccc;
    --blue: #007bff;
    --red: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--white);
}

body {
    background-color: var(--bblack);
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }

    &:active {
        background-color: #004080;
    }
}